  <!--  Upper Navigation Bar -->
  <div class="container-fluid upper-navigator ">
    <div class="row justify-content-between">
        <div class="col-md-7 ">
            <ul class="upper-nav">
                <li class="first-ul">
                    <i class="fas fa-map-marker-alt"></i>
                    123 Street Name,City Name
                </li>
                <li class="first-ul">
                    <i class="fas fa-phone"></i>
                    123-456-7890
                </li>
                <li class="first-ul">
                    <i class="fas fa-envelope"></i>
                    mail@domain.com
                </li>
            </ul>
        </div>
        <div class="col-md-5  ul-2 ">
            <ul class="upper-nav ">
                <li>About</li>
                <li>Contact US</li>
                <li>
                    Arabic
                    <img src="assets/theme/images/arabic.png" alt="Language Logo">
                </li>
            </ul>
        </div>
    </div>
</div>
