<!-- START PAGE  UPPER-FOOTER -->
<div class="upper-footer">
    <div class="row">
      <div class="col-md-2 col-xs-12 ">
        <h5>POPULAR SEARCHES</h5>
        <ul class="list-unstyled">
          <li><a href="#"> The Old Man and the Sea </a></li>
          <li><a href="#"> Number the Stars </a></li>
          <li><a href="#"> The Giver </a></li>
          <li><a href="#"> A Wrinkle In Time </a></li>
          <li><a href="#"> Peter Pan </a></li>
          <li><a href="#"> Thirteen Reasons </a></li>
          <li><a href="#"> The House On Mango Street </a></li>
          <li><a href="#"> The Outsiders </a></li>
        </ul>
      </div>
      <div class="col-md-2 col-xs-12">
        <h5>MY ACCOUNT</h5>
        <ul class="list-unstyled">
          <li><a href="#">Log In / Register</a></li>
          <li><a href="#"> My Shopping Cart</a></li>
          <li><a href="#">My Orders</a></li>
          <li><a href="#">My Addresses</a></li>
          <li><a href="#">Wish Lists</a></li>
          <li><a href="#">Account Settings</a></li>
          <li><a href="#">Account Summary</a></li>

        </ul>
      </div>
      <div class="col-md-2 col-xs-12">
        <h5>Company</h5>
        <ul class="list-unstyled">
          <li><a href="#">Careers</a></li>
          <li><a href="#">Company news</a></li>
          <li><a href="#">Privacy at Microsoft</a></li>
          <li><a href="#"> Investors</a></li>
          <li><a href="#">Diversity and inclusion</a></li>
          <li><a href="#"> Accessibility</a></li>
          <li><a href="#">Security</a></li>

        </ul>
      </div>
      <div class="col-md-3 col-xs-12 ">
        <h5>SELLING ON WEBSite.COM</h5>
        <ul class="list-unstyled">
          <li><a href="#">How It Works</a></li>
          <li><a href="#">Selling Policies</a></li>
          <li><a href="#">Seller Terms and Conditions</a></li>
          <li><a href="#">Fulfilled by Website</a></li>
          <li><a href="#">FAQs</a></li>
          <li><a href="#"><strong>BUYING ON SOUQ.COM</strong> </a></li>
          <li><a href="#">How to Buy</a></li>
          <li><a href="#">Return Policy</a></li>
          <li><a href="#">Advertise with us</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-xs-12">
        <h5>Contact US</h5>
        <ul class="list-unstyled">
          <li>123 Street Name,City Name</li>
          <li><a><strong>Phone:</strong>+2010 067 723 34</a></li>
          <li><a><strong>Email:</strong>123mail@mail.com</a></li>
          <li>Advertise with us</li>
        </ul>
        <h5>Follow US</h5>
        <a href="#"><i class="fab fa-facebook-square fa-lg"></i></a>
        <a href="#"><i class="fab fa-instagram-square fa-lg"></i></a>
        <a href="#"><i class="fab fa-google-plus-square fa-lg"></i></a>
        <a href="#"><i class="fab fa-twitter-square fa-lg"></i></a>
      </div>
  </div>
  </div>

  <!-- Footer -->
  <div class="lower-footer">
    <div class="container">
      <div class="row justify-content-center">
        <p>All rights reserved - Link Development Company © 2020</p>
      </div>
    </div>
  </div>
